.wrap {
    position: relative;
    margin-top: 60px;
    height: 400px;
    overflow: hidden;
}


.items {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
    position: relative;
}


.wrapItem {
    height: 100%;
    border: 1px solid rgb(0 0 0 / 20%);

}

.wrapImg {
    overflow: hidden;
    height: 220px;
}

.wrapImg img {
    width: 100%;
    height: 100%;
}

.wrapImg img:hover {
    scale: 1.1;
}

.name {
    margin-top: 8px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.name:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.des {
    padding: 0 8px;
}

.reviews {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 40%;
    font-weight: 500;
    margin-top: 16px;
}

.star {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.left {
    position: absolute;
    width: 20px;
    top: 165px;
    height: 30px;
    left: 0;
}

.right {
    position: absolute;
    width: 20px;
    top: 165px;
    height: 30px;
    right: 0px;
}

.left,
.right {
    display: flex;
    font-size: 1.4rem;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.left:hover,
.right:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}